
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<string>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
<form asp-controller="Broadcast" asp-action="BroadcastToClient"  method="post">
    <div>
        <label>Broadcast message:</label>
        <input type="text" name="sendMessage" placeholder="Type some text to broadcast" />
        <input type="submit" value="Go" />
    </div>
</form>

<hr/>

<table>
    <tbody>
    @foreach (var item in Model)
    {
        <tr><td>
            @Html.DisplayFor(modelItem => item)
        </td></tr>
    }
    </tbody>
</table>
</body>
</html>
